* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  justify-content: space-around;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
  color: #030303;
}

.center a:hover {
  font-weight: 700;
}

.center {
  display: flex;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.contact-us {
  display: flex;
  align-items: center;
}

.button {
  align-items: center;
  background-color: #022b58;
  font-weight: 700;
  color: rgb(249, 247, 247);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

/* About Us Page */
.h3 {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 3rem;
  margin-left: 26rem;
}

.first-section {
  display: flex;
  flex-direction: column;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.6rem;
  margin: 2rem 8rem 2rem 8rem;
  gap: 2rem;
}

.first-part,
.second-part {
  display: flex;
  gap: 5rem;
}

.left-side {
  font-family: "Lora", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 600;
  flex-grow: 1;
  min-width: 200px;
  text-align: center;
}

.right-side {
  flex-grow: 2;
}

.second-section {
  display: flex;
  margin: 2rem 8rem 2rem 8rem;
  gap: 5rem;
}

.quote-sec,
.img-sec {
  width: 50%;
}

.quote-sec {
  font-family: "Lora", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 600;
  padding: 0 2rem 0 0;
}

blockquote > p {
  padding: 0 2rem 0 2rem;
}

.double-quotes {
  font-size: 5rem;
  font-weight: 900;
  font-style: italic;
}
